[unitt]
Description=proxy master Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python /usr/local/bin/proxy_master.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target

